<main class="panel-container">
    <div class="half-panel">
        <h2>Project</h2>
        <p>In this panel you can edit some general project settings. You can also add and remove contributers and modify access restrictions</p>
        <div class="button-bar">
            <button>Manage Project</button>
        </div>
    </div>
    <div class="half-panel">
        <h2>Tasks</h2>
        <p>In this panel you can edit and delete existing tasks, adding tasks can de done directly through the dashboard</p>
        <div class="button-bar">
            <button>Manage Tasks</button>
        </div>
    </div>
    <div class="half-panel">
        <h2>Tiers</h2>
        <p>In this panel you can manage the tiers of your project</p>
        <div class="button-bar">
            <button>Manage Tiers</button>
        </div>
    </div>
    <div class="half-panel">
        <h2>Categories</h2>
        <p>In this panel you can manage the categories in your project that can be attached to tasks</p>
        <div class="button-bar">
            <a routerLink="/manage/categories" ><button>Manage Categories</button></a>
        </div>
    </div>
</main>