@import '~@angular/material/theming';
@include mat-core();

$color-primary-dark: #2E7D32;
$color-primary: #4CAF50;
$color-primary-light: #81C784;
$color-error-dark: #D84315;
$color-error: #FF5722;
$color-error-light: #FF8A65;
$color-secondary: #CDDC39;
$white: #fff;

$color-grey-dark: #4f4f4f;
$color-grey: #787878;
$color-grey-light: #878787;

$app-primary: mat-palette($mat-green, 500, 300, 800);
$app-accent: mat-palette($mat-lime, 500, 300, 800);
$app-warn:  mat-palette($mat-deep-orange, 500, 300, 800);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Nunito, Arial, Helvetica, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn,  
);

$font-primary: Nunito, Arial, Helvetica, sans-serif;
