
@import 'variables.scss';

.list-container {
    border: 2px solid $color-primary-dark;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.add-icon {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}