/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Material+Icons&display=swap');
@import '~@angular/material/theming';
@include mat-core();

$color-primary-dark: #2E7D32;
$color-primary: #4CAF50;
$color-primary-light: #81C784;
$color-error-dark: #D84315;
$color-error: #FF5722;
$color-error-light: #FF8A65;
$color-secondary: #CDDC39;
$white: #fff;

$app-primary: mat-palette($mat-green, 500, 300, 800);
$app-accent: mat-palette($mat-lime, 500, 300, 800);
$app-warn:  mat-palette($mat-deep-orange, 500, 300, 800);

$custom-typography: mat-typography-config(
  $font-family: 'Nunito, Arial, Helvetica, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn,  
);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

@include mat-core($custom-typography);
@include angular-material-theme($app-theme);

$font-primary: Nunito, Arial, Helvetica, sans-serif;

body {
    font-family: $font-primary;
    padding: 0;
    margin: 0;
}

nav {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    height: 48px;
    background-color: $color-primary;
    justify-content: flex-end;
    padding: 0 32px;

    #page-title {
        font-weight: 600;
        flex: 1 0 auto;
    }

    a,
    a:hover {
        flex: 0 0 auto;
        color: $white;
        text-decoration: none;
        line-height: 48px;
        text-transform: capitalize;
        margin: 0 16px;
    }
}

main {
    margin: 32px;
}

.account-form {
    box-sizing: border-box;
    width: 480px;
    margin: 64px auto 0 auto;
    border-radius: 20px;
    border: 2px solid $color-primary-dark;
    padding: 32px;

    h1 {
        text-align: center;
    }

    form {
        width: 380px;
        margin: 0 auto 0 auto;
    }

    label{
        line-height: 1.2em;
    }

    h1 {
        margin: 0 0 16px 0;
    }

    input[type=text],
    input[type=password] {
        margin-bottom: 16px;
        width: 100%;
    }
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    a,
    a:hover,
    a:visited {
        color: $color-primary;
        text-decoration: none;
    }
}

.error {
    color: $color-error;
}

.list-container {
    border: 2px solid $color-primary-dark;

    .mat-list-icon {
        color: $primary;
      }

    // .list-element {
    //     display: flex;
    //     height: 64px;
    // }

    // mat-icon {
    //     flex: 0 0 auto;
    //     line-height: 64px;
    //     font-size: 32px;
    //     width: 64px;
    //     text-align: center;
    //     color: $font-primary;
    // }

    // .list-element-text {
    //     flex: 1 1 auto;
    // }
}

.mat-list-base .mat-list-item .mat-list-text .list-item-title {
    font-weight: 600;
}